## Game servers keys for akusdev 

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAwc2Iug0eFBJMQ0MhLqZ97RnDnthuXrFt/KxkCocK4KwfH+SOXYWG8OTW53BnWBmUY1oWoYXou0yozujDPh1P4G0lhe3BbyJtYstlo/YupK5NIszMo03319WTDx6HxupsD2u4Zajt0oB1VWAR4pZOqUzDNRJbD1lByu193mgecwt0QTqQkXXAavdV9zFOLwazivuMLTcuNrEYQjAfAqalP8FynKwQDc8DxHt7zqDHW6ktsj7EAwY9eeH55N3w52Y1aO/bK30EtUk6MNeE+O6q8YAVoFv3La4paDbGo+oUOKx9X8c+Wf+dNy+GEVSrDRulqfpJRL0PdNvPeBa1bVopAQ== ansible-generated on akus-ctrl-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAv0RGtauL1lluVJagaEK4tPB/k9WI8176U3uXkDvkIuwklWU0mGLHg4Ad9rD6WS+OJ5VOwfg94s1q6815teqHL1AfLn1z+Ep6ZNbBgYGUol28ZP19Im6K7sA+3dro4sRyzvc16WKRYYOqTFRxZ0T8shvf778dGtqYFKljyUwImRMHLnlzitwBD4JWjsVmvVJJXt80l9fQULupDu9PGDRzv+BnCassrTwWLN9LGWZKPJ9ggPmafZ6Yyx1HuuN3tAO+OrKGo9p6moi0cFRmr/1vckCNMhp6/nY6D1XZS4OrNKlLbN68LF9zK5fe5Nn0rVaNtaj7qFkKTH3/b2jjjNhpJw== ansible-generated on akus-gamedb1-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6N1sLK/592yg4JT6mJPn2Wfe9t1Tdg+7R61wZwCoXFnTyGJzp7Gdd2AHcF+OOVrH6kDrfNDwSL8tODe3N/yXD0VQl9UX47I8HmhHIZqnyRlHpNTngIH3Ux3qwB3zxzhehV8xt5311825jLmSLSIV4xg7xpjp1cmYCbaCuzWgYmcbxpAxOfzSRb3UzwP+H5dWv7K002/I4kn4Huuu9R+2sBG+KVQWp+ez0o+SGGzmom2RySASl3O6aHEeyPW5Df8NyUwDgb7CmGbyDhl/NHfbT3C+BKu4EY9pxt+7DUSHN4vOA3jk+UVxDc0MNOrTSc93W6NrVUNzSlF1Us7qCW/a+w== ansible-generated on akus-accountdb-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxPKYBbFsu2ye/y9mKOf4b8O4p9b2RwCxbjAlSxsrVEQEM/CBpNdlBVcL+VjXPtDZ14Ih0m03qGzgK6GKVbqtakYAub9DpW2IGCgL4OxK2QXLUtyYVZRBN95qQRWFKgjEzEWvzj/0iQ3KiWMoktnkAmaJM/VhVhClTJWx/kpTNOdM9Ho+kye9SztBBMPikSTrfH6aDc/e2Y4knWn3c4nN6Xoj9FTUSRk5IQYx5wFQMO8c9TMsuL86yskz1g8q2pYNYP10aMKX1lnX/gNhAKqpBFjfUbySKYbF7kVFKsbOPL29g+XK//I4VZ/bnBs75rwojYXtdMp0Un3r7Dadxc5hhw== ansible-generated on akus-gamedb2-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAwPZj7uRYmPqT0FvzrwixJOCBGgIVrdslzcCGdDtEQKf1nph5NT9ghvudV3W8pKqUV12oYVSDTpC50t7SNSydzB6U9/9dgZqKrZdNgjuMOHDUq1qidSIH7ASKNHQwTECCAYiN3Q6BkvYtLy09Vq+lPeUK95Xi3BH4rRJTHuRAqoVOpIYOMT4O6eyV2CEcZ9p8GsWXUehV8vVlwFgFUC5HeIeHVha5w6Dnt2fnX4Gcd8+ZB6/YigIFFwMfXrtSCvhXNqbRnVDrNLg/G9YDIow4e/8YACW26QxVI7IpyC+EgR1Xyr+F3CyaFhW2STl9FPJzQ23U6ocaQFKiwf5XIXlXHQ== ansible-generated on akus-login-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuLWkzc5xzzozgs80bEKslVXRwySsuIDvxzSN8B+TrObZXQT7Bg39+2WafvfOeVcFlOOvDmnYym/eRepTokQpzCheLSKOxBkrGXodi3zMH5FmOGgbEcHQL61rOYAj6PUfslmCMiTTjBNqXzQ+pAWD4SwLyNBAaGOqxGvdrryToq6l63ZfCz8oLIAjMS7wDVVP+mqiyerQ5peFcr93aTDLwfm7axgPHhqoxVF8w7EzF5MuJt1JgZj/u9hntwgWTJOCTSGT4VMEPV5S/4EdPI+aYE+S1i30OpZKUWnlskSiu5YH+9ynCaOR+93+CYTCCzy52GyAGnWogakyjKXSLDuIIQ== ansible-generated on akus-stream1-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA0bw+8oz3aHMtV+6gX+xlmamJ7EiegLbvwwqvj/e73DrSUtk/OZ9LkFWp9AlJl9nnj03tzhgIjO4g7njWoAVpxWZ6Qnt68vQf6c6eFDzQtfG81NmRMvG9/NygKPDXmuue325V9E8nt0W8NthLYn5GsGdsdpQtbGeJUSjlZptaW3G0djc1UVUln1dUky9Uu5Zfm9nZjJQHA/o6kHh7GiA7Tt7cuPxVj/XIKpVhe5G0cxRuwpCEKKccR8/K5G8we37keIChk+VPVoiZ8a+noova0Vh5H618JZBtL2omL3NVNt8JoNtRm3el5qDYcfw/SZ3idz60CBp2goyB09RZixGNEQ== ansible-generated on akus-test-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAt/HVDGxthNoHbzybA9sSVyhF4/WK05peMSykF0q+DPLi1Qu0EdoF3gRXT6qumN6VeMdQ1tGjWjys9bVA544lWgx2DC1OeqPqEUSbIvJfISloRaqfj8HctGmykIYKU+ozT8GPlHJ/WvdcpvineiFybrJ5Zj9kBGfm+BmMrb/uKr48JtWqnFYzNSKlyer8rBFxiTjHiXvaLKUUqGYYM0jiyrJEsXpcCDWkHsMEpfVQ4B7x/jhD6/gFB9Al4CvT4Gg00q9FPJvW6AHBG6HBU296nlxCx7Gd8um725QJ4FqmOrR7ZlkKcGUycVzKNz+WOD+yaxwtEt8C3y7SW/8OSARZ6w== ansible-generated on akus-storage-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA54ni5z4B7CrrifjBuKmJmSrfAdx5/Ia6xdaLnedERDnvR66x8nduVHE1QnIZuDUlSdWRWy7UC+cTaFNqsGaQb1Cjd8Jnbl1qqoJnSiUjlwdDjQelnDiCJcNsnNMG3InOF6vu4tZ/9tADL7hi1fWWj2HApI1QqHLrUXG84HyE2ihtWfJQOs+PMIOO4Z9jVoEQmvwg1Jq12+/NZtpYAsfuIK9ixw2DzXhO4dIyqelCXWjXzrbH2Qfxy8mMXgZxjDamauSQi3pkyG3dYwFaAlVX1lKBpw9PflXFvL3viIND5f5puFHzoj4o4hNa+pyrFVg1LuXFuGHBeSNrIeKe6O48MQ== ansible-generated on akus-stream2-server


# Added by Google

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAu7RhWTw0qq2R9pc2m2zcEpL1bkXIYStccZX9NWU7UOTNM1skGY9I2iIV03aNciT8RyHR++m7Z1PVG9kGTBXu0rdd+PEInyBPW2nT7nwkc3gYNdBrwFzmrA0k1TtTv9juWg8rQCG3pVqLiEvF6Gud+X7aWkFj50gVP8YZzShRGEbLec5j9LlpOPAWlgk1RBnX63xOQ/RCvBJIx8sTuNr9mHcQTscIEdJAlCUsI8cWvnhd12cc+d1D0ywdOERbkGeR1EZy+agaf/RWIfIE1AHNRN5xIcrfYAxsyZGjd9Ph3tWme3Y8fVvlPH8aML7Osn0hexBxybYVolP4Vthvjx3xLw== akusdev@colo

# Access to XL devs

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAu7RhWTw0qq2R9pc2m2zcEpL1bkXIYStccZX9NWU7UOTNM1skGY9I2iIV03aNciT8RyHR++m7Z1PVG9kGTBXu0rdd+PEInyBPW2nT7nwkc3gYNdBrwFzmrA0k1TtTv9juWg8rQCG3pVqLiEvF6Gud+X7aWkFj50gVP8YZzShRGEbLec5j9LlpOPAWlgk1RBnX63xOQ/RCvBJIx8sTuNr9mHcQTscIEdJAlCUsI8cWvnhd12cc+d1D0ywdOERbkGeR1EZy+agaf/RWIfIE1AHNRN5xIcrfYAxsyZGjd9Ph3tWme3Y8fVvlPH8aML7Osn0hexBxybYVolP4Vthvjx3xLw== akusdev@akus.com

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDNIxDWaSzh9Ih+PLH3awSptlxUguryQXCzgcXCgIxmkSnihQT66J10U2K7T8qNxeHgaJGZ7w2sbc8+mWo315vOez8EFjQQ47OobBHCd261AEsPsKg2jU1DT0iQRm7OjQ93nz6nMJD0MGHtDyDZVCyorIRYwPXpHxAkfbXxQSRHoQ== lio

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQC2HAAAQUntERHbAKlpZkyJopfFIXSHHgj00lwXy7F9EZEl2TOmnR/3CUZStkJZJHwGKc+AZqNMH7w88lEL+QxJXunzs9Artzh5F1aRVV9aBFmDDpHExnZ/ZS/EAiKPlPAJdAFbS/jj0KwSRZyXNGNUhgBIUyJnuZq+QDyOPKedCQ== vincent

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAm5loo5vnOJVUVnYLgWl3FCoRWyS5KsSGiwH4FeL6DrBcXbeggbtXppRhsTMbPPYUA2NcUl62eXyS6R3CYmL08lqWmVboqhB02eJoMC6vEzWL1IJIDYtQ4qA8VUsvbt0WVLcRDbzOUiafnF8mJjmDyDUpQGo6ooL+xzLEtWn5RxqW1121olc7RSfP1Dy/5s3ezvBvwAYzpDnEE4rkWkJt/x/HCoa5gtk731lvoG3XM8J4bkjCQGXxORUl+wK8ubWS9cKLkd/n6nCz0apGfRuQXhnZ7MNLvVo71glt5Xmney9hR8zZ0kDDFG6bAnxBZhdLTlYiVRZ3Y5atx0SZA2CGiw== maple

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxZ7jT2+Cp0I/AQmmD/npYwoVAnI3Thl4HZSExLtK2dGddWdLo/+gREAK87ysW3TlXV/PuhNABFuf6piavYUhEcMShHUmguP/RsvsTxduurSyjdH8ejlhog6TcQ37vnsSAyRWb0AowFkVT9MelrCispapCQc+cy/vPNc4RXPELBn6op76nqsZ/djxET9S8z9y/waWJgeoSZqL8uUIF65VY0F/9/lM4xmAViGr4OATZjk5W5KmQ3xrak0nUUlJ5Id2qplA2lV60rF/mrhRNKmWDTdB1VfnceOUQ5WhqnTLTkvA5uPjCKxIzRqkhKCZrlDwI8NYQse3AkjJ2cq+egIU+w== nash

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAtoTkva0TLf3G+19aaglw7XaOdltM0hpQzcxy4od4H9vkINt4FvXJKCc2n1eHVPyAR/88K8Da8nsdWWY2oE0HVWy7c9kVWjOu/7hoHhdYaArdOblpRVxVCA6iGyICOqtydhFap19FWV+4tsxMoO42CBNv88QCQpqaK9o0WQICz9Gr4RhwWx87DGd5+EtIIDTxDQRtHN43Z5d/1zhKIR8RSy08Wr7z9+dArh1BDC8x+hMeN5tL7NT/mjHMOX/sjNvCm0KqCyWvs6oTYWm4VTfxmGj2R1egDoTxkPXUM1g2t30XYDX14EFdAoYRufxzTOrT2ptNetruTHq4HW0xK4Vt4w== corey

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDJvHcX6MWGodFUVUtvDaJbzgv/ISDFY3DCpfx90JxGa97KhpmAYYLPb6AvtUgrKHOBXdMEmKzCgEjoJAYqqAwtQ/7N6W6eYEnwZhnI6yYSkExxvKBLORYJ4/uoE88G0zPTff+bbw1OalJngDh3xkg8bXdKy86Eyb5vSPXzxUOskQ== emergency

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArYd8ccGgT+H7ivgkxWbLZGa/ji/AvBTfakKIQvOgmvvvj/iw1ATSKG386pam2dCkp8xyKdZVqHqZbxi0x7f/MlzPAl2P4sGrc0KCDWCWMS2dMS7nxTUPg2DwH3crBzdxzNj72cMwnjLQJ7mf7Hc6fLJJ9u3JXQQvGYH//bQi+XJrrkTJ87hJO6h5VnKilqsjfmNOiu98xkCdUNAdCfTJ7U60M4Pc0XXKwDpfj59tP37hZGKQBsLYvqIlAXcz5QfQxAQpv1zxplvLMmvGCOHz28GsVBGuuF4WcSPulFfH6fKo8M/4VUVA8Sx07VUq46+17Hg0BLZI9VdLYAzQAhV5aw== jacob

