## Game servers keys for gfptdev (Between servers in GCP)

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA0l88sX6f78FJ4kSqbIv4a+Z8uMtovw5Kzem75Eoxi/jyNU6FBJUIap5VBOFmD+tfsmnIZqqhZSwjC6JmNatMfP1iAW9MkuN9Q0fSRtW33J84SwmJ2aiVX2XmYrVd8RDdjs/FPGZmCJLllejr/Od4OMPViRaTmU+cIjyM+lGXc1vKeyq7kA0xnDpemZH6VkFJ631B+tj6hPVoqS2f59uPwm9nmaD0gbmaQc4HjcpuqHuNPvQLMzaaN8/Ah1I5ZBOWO0oUBRJ62Uj1XyfZDWt5OKGfJzy4VxukDvRyB+duTDiwok3fRcYh6qKUOFRGPDI4RVHtyvmZG+XczlQqWI8CsQ== ansible-generated on gfpt-accountdb-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAx9e59WH5blIWLokTcobYAisqj/XICGWr85p4EfgPeywLNL8epTdn6r+k/GpwIKlyB+pLMaRs3e7+iBXF0opSqAeCxx+4VbLTTaQmcLyDLdBbgCLDx/5b6L20VZc/+QEvTHr1clF5Nf2WhXtm2ffj2mvmIgjNAadfGRP8s1otSeC5Ft3vRR3Vulk0UixxKTjkmaBH/UoBR9l2lYkC3kP6MWQ0+puAccXHVZ9cyHbPRfS+RXEuzMysKexhoVdSasN3+Gr3tRg1XOytXFHS1GVJQuyVNpOAgGVpDN2XiU8tq2hF6c2Jqtz2GEOOkvN6ZvD5ESB3/2vpsNpbYmG03SeZbQ== ansible-generated on gfpt-ctrl-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAmgYPoQW3bgQsIj4hdcA1yBljtt8u5WhQi0e7oAXlAmivZE09pdMALJYoEW4C+7BcwabCjT8S1503Hg3G/sKSkAJ3tDk/kwTiYkQgSZrvXOgUKSU8IYGDZrNy56+PlCtmAXJ0vwSMII/61mLGHm5lXBT6vOZ0IdGw/y56p4TS4dLcYxg8U/RhFH2pmmhI71tqkaL0rBm+mB8fzGrmfdL/WZr37pXvrYF0JOfjjiZldIqhlJmGen7hGSuVOBh3NcZwpEbaZEO1X7fDd8ZL70grqXHUadJR30otpsGvkyyNOEft22TnOkYem3Ls7Cbo3zSmBLQ9yri4cooJvlfNQZHDAQ== ansible-generated on gfpt-gamedb-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAu2MsOTKoTjVPy6msZWElF/kYv+t35dLlOd3muabwmIItgXm+ACjOHtWbmr03RT3nPWpB61tWdonQ7v5RFXp+l1DZ/8OoZHMom5uO26olCty6M7X2Sr2xL5rb2uYkiqixZfvNn0AM2kSSX4MaiC3ywICbUQYRWy5auZ0D18mVT2HNaEwuJa281PMHOkQms0O6dVcHwmnjHBrJe+rwB4wdSGdY6Ur7k3FmzBQJW4cATZn3Me4i2ehoGaM7+Ud2IzXDrKUI20pXbeAOQMZaRFxPf1vvF0PNB5JC7iawYgCQ9yd28dOvch+YOLQHpomi74dPNN4kHHLU0+bHR/LMc/B6Ew== ansible-generated on gfpt-login-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAt3hABO7LkqSN2uyoeO5aW8WPKf3nQ1v+Dx/gH1oIwINucXi48ZmT4OqVuFlZKdvtqACYR++3LF2Cwnre6e4GqTTjNHu6i/RuJNnmosQs/2sZ6LW80lt0QV6JcdvdWfYMFM8I5CQrFz3E6Zg705nro0OS7CYlwNO3iS2o24c7Kc+u9ekIrXksoHQeFzjnp4GOm0HYT/OqG9jjJuNnGx6bFq6Ssu18gvCv9LxYN0cfpybMk09P1AnZPIBEBYLNZSiN/tyxDu1yEmfUD3ycJioCZ/906cOe1xNfKWGJKLjbDT/Z1BrjAOvI321npF0ZgKTFeovh2/8msZZh9ydbgJksQQ== ansible-generated on gfpt-storage-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAuHijPk8IYm8j0Y6fbzcdB0rB4KMbZnb2TF/I11+AMTkiKS0EXhaiA/hHRyaj/HuuG9qGUicfSUB8gaY4vqpXXXT7tfQYjmMdngKw0D4+xSgBnSUQBC0GZ/eZ8zVYcEs4ZwclP+N9YjDRvrGO4a4vYMPZdwMdRaDQs5nTaCb6FQV6b2sqwqpxUxw76+g6x5WnA61WOljqEWXGfevqOE+Dk6oKjyerMSelQzXSWors8vYP+nv1By22fjfMJ5nYcAdwB5g9fxNMk413atQosWckN1CqvWsC6yoIC9uTU2zxSFocfnAHHlBevQSInE8L+SeSYYnTWvOP1jLaifhXQJLbDQ== ansible-generated on gfpt-stream-server

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAtaJQUN7MudTCUR6l2UX84NzKuHM0AR45QsbyopnHxMnTHPVvLcWb0EYXt9NHVd30AqCqYz2YXITqbQDXzvxct4KeyH1F3BCrg51NPKox0TDgqZ96ERcSSXmGbLrpMicqd2kfxaMSbh9qmvM2urSfhP5PeIuTh04R2BGujDLukOPMCbo+DpNYaPrbjGz9Cf2ORIaVXHE2oLaWSl5mjfnj6j4jjlxJdzlXJM7xbwzxuend4JM7uSInQn0/pQNOTz+Gp+Yfd9zhKt0Z/HVnX6/bjWaWBUjeEtg/ej5QVJSs8JNb8xPlkEImfHTsnLkVFnSg6X0GMSri7WxxwR7SZmCJKw== ansible-generated on gfpt-test-server

# Added by Google

ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArg0Z5hhq3JRtAzd1cwXXM/gbtIh0iywZu7cTNhYBo7W+DWQl3X/tRDX4DyhM4SpesUWA3hg5xym0SGkMIemnKiH1h0KHHJkcr9q07+6jPlaO0VgFKPtayyWYGuiWgxQdoQNsMpr4OgtCfOyFKx1qlj8vdDJ3a4I5FmFlFMkblgSYBBH6PZ9GL6xGlJeUPkcQGUhsAk2uwniOH8kTEfhkV9zpb3gfWSo7cILghtF6Cwh/DjApG9tOyvAwLzrJRiuBMvakEjizj7FGT5sRsr82OLoAVj0SFKJfyyMMxphxlUDzZNDHFO1Yo4OPCzMZ7aM2z4ETgDFB8fekq4jJOzaJhw== gfptdev@gfpt.colo

# Access to XL devs

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAu7RhWTw0qq2R9pc2m2zcEpL1bkXIYStccZX9NWU7UOTNM1skGY9I2iIV03aNciT8RyHR++m7Z1PVG9kGTBXu0rdd+PEInyBPW2nT7nwkc3gYNdBrwFzmrA0k1TtTv9juWg8rQCG3pVqLiEvF6Gud+X7aWkFj50gVP8YZzShRGEbLec5j9LlpOPAWlgk1RBnX63xOQ/RCvBJIx8sTuNr9mHcQTscIEdJAlCUsI8cWvnhd12cc+d1D0ywdOERbkGeR1EZy+agaf/RWIfIE1AHNRN5xIcrfYAxsyZGjd9Ph3tWme3Y8fVvlPH8aML7Osn0hexBxybYVolP4Vthvjx3xLw== akusdev@akus.com

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDNIxDWaSzh9Ih+PLH3awSptlxUguryQXCzgcXCgIxmkSnihQT66J10U2K7T8qNxeHgaJGZ7w2sbc8+mWo315vOez8EFjQQ47OobBHCd261AEsPsKg2jU1DT0iQRm7OjQ93nz6nMJD0MGHtDyDZVCyorIRYwPXpHxAkfbXxQSRHoQ== lio

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQC2HAAAQUntERHbAKlpZkyJopfFIXSHHgj00lwXy7F9EZEl2TOmnR/3CUZStkJZJHwGKc+AZqNMH7w88lEL+QxJXunzs9Artzh5F1aRVV9aBFmDDpHExnZ/ZS/EAiKPlPAJdAFbS/jj0KwSRZyXNGNUhgBIUyJnuZq+QDyOPKedCQ== vincent

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAm5loo5vnOJVUVnYLgWl3FCoRWyS5KsSGiwH4FeL6DrBcXbeggbtXppRhsTMbPPYUA2NcUl62eXyS6R3CYmL08lqWmVboqhB02eJoMC6vEzWL1IJIDYtQ4qA8VUsvbt0WVLcRDbzOUiafnF8mJjmDyDUpQGo6ooL+xzLEtWn5RxqW1121olc7RSfP1Dy/5s3ezvBvwAYzpDnEE4rkWkJt/x/HCoa5gtk731lvoG3XM8J4bkjCQGXxORUl+wK8ubWS9cKLkd/n6nCz0apGfRuQXhnZ7MNLvVo71glt5Xmney9hR8zZ0kDDFG6bAnxBZhdLTlYiVRZ3Y5atx0SZA2CGiw== maple

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxZ7jT2+Cp0I/AQmmD/npYwoVAnI3Thl4HZSExLtK2dGddWdLo/+gREAK87ysW3TlXV/PuhNABFuf6piavYUhEcMShHUmguP/RsvsTxduurSyjdH8ejlhog6TcQ37vnsSAyRWb0AowFkVT9MelrCispapCQc+cy/vPNc4RXPELBn6op76nqsZ/djxET9S8z9y/waWJgeoSZqL8uUIF65VY0F/9/lM4xmAViGr4OATZjk5W5KmQ3xrak0nUUlJ5Id2qplA2lV60rF/mrhRNKmWDTdB1VfnceOUQ5WhqnTLTkvA5uPjCKxIzRqkhKCZrlDwI8NYQse3AkjJ2cq+egIU+w== nash

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAtoTkva0TLf3G+19aaglw7XaOdltM0hpQzcxy4od4H9vkINt4FvXJKCc2n1eHVPyAR/88K8Da8nsdWWY2oE0HVWy7c9kVWjOu/7hoHhdYaArdOblpRVxVCA6iGyICOqtydhFap19FWV+4tsxMoO42CBNv88QCQpqaK9o0WQICz9Gr4RhwWx87DGd5+EtIIDTxDQRtHN43Z5d/1zhKIR8RSy08Wr7z9+dArh1BDC8x+hMeN5tL7NT/mjHMOX/sjNvCm0KqCyWvs6oTYWm4VTfxmGj2R1egDoTxkPXUM1g2t30XYDX14EFdAoYRufxzTOrT2ptNetruTHq4HW0xK4Vt4w== corey

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDJvHcX6MWGodFUVUtvDaJbzgv/ISDFY3DCpfx90JxGa97KhpmAYYLPb6AvtUgrKHOBXdMEmKzCgEjoJAYqqAwtQ/7N6W6eYEnwZhnI6yYSkExxvKBLORYJ4/uoE88G0zPTff+bbw1OalJngDh3xkg8bXdKy86Eyb5vSPXzxUOskQ== emergency

from="210.71.206.190,124.11.67.120,10.200.81.0/24",no-agent-forwarding,no-port-forwarding,no-X11-forwarding akusdev:ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArYd8ccGgT+H7ivgkxWbLZGa/ji/AvBTfakKIQvOgmvvvj/iw1ATSKG386pam2dCkp8xyKdZVqHqZbxi0x7f/MlzPAl2P4sGrc0KCDWCWMS2dMS7nxTUPg2DwH3crBzdxzNj72cMwnjLQJ7mf7Hc6fLJJ9u3JXQQvGYH//bQi+XJrrkTJ87hJO6h5VnKilqsjfmNOiu98xkCdUNAdCfTJ7U60M4Pc0XXKwDpfj59tP37hZGKQBsLYvqIlAXcz5QfQxAQpv1zxplvLMmvGCOHz28GsVBGuuF4WcSPulFfH6fKo8M/4VUVA8Sx07VUq46+17Hg0BLZI9VdLYAzQAhV5aw== jacob

